<p id="notice"><%= notice %></p>

<h1>Puzzle <%= @puzzle.id %> games</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= link_to 'Show', puzzle_game_path(@puzzle, game) %></td>
        <td><%= link_to 'Edit', edit_puzzle_game_path(@puzzle, game) %></td>
        <td><%= link_to 'Destroy', puzzle_game_path(@puzzle, game), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
<%= link_to 'New Game', puzzle_games_path(@puzzle), method: :post %>
<%= link_to 'Back', puzzle_path(@puzzle) %>
</p>
