<h1>Puzzle <%= @puzzle.id %>, Game <%= @game.id %></h1>

<%= turbo_stream_from @game %>

<%= render partial: "time", locals: { game: @game } %>

<%= turbo_frame_tag "game" do %>
  <%= render @game %>

  <p>
    <%= link_to 'Edit', edit_puzzle_game_path(@puzzle, @game) %> |
    <%= link_to 'Back', puzzle_games_path(@puzzle), "data-turbo-frame": "_top" %>
  </p>
<% end %>
