<h1>Puzzle <%= @puzzle.id %>, Game <%= @game.id %></h1>

<% time_diff = Time.now - @game.created_at %>
<p>Time spent: <%= Time.at(time_diff.round.abs).utc.strftime "%H:%M:%S" %></p>

<%= turbo_frame_tag "game" do %>
  <table>
    <tbody>
      <% Puzzle::GRID_SIDE_LENGTH.times do |r| %>
        <tr>
          <% Puzzle::GRID_SIDE_LENGTH.times do |c| %>
            <% ix = c + r * Game::GRID_SIDE_LENGTH %>
            <% is_editable = @puzzle.grid[ix] == ' ' %>
            <td style="<%= 'color: gray' unless is_editable %>"><%= @game.grid[ix] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= link_to 'Edit', edit_puzzle_game_path(@puzzle, @game) %> |
    <%= link_to 'Back', puzzle_games_path(@puzzle), "data-turbo-frame": "_top" %>
  </p>
<% end %>
